# Binaries for programs and plugins
main
vanilla
*.exe
*.exe~
*.so
*.dylib
*.dll
examples/simple/simple
examples/simple/simple.exe
examples/simple/simple.exe~

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
